P*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
html {
  scroll-behavior: smooth;
}

.header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  width: 1100px;
  padding: 0;
}
.header__menu {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -4px;
}
.scroll_main_link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration-line: none;
  color: #000000;
  margin-left: 50px;
  margin-right: 13px;
}
.header_links_list {
  display: flex;
  flex-direction: row;
}
.header_menu_pointer {
  display: list-item;
  list-style: circle outside;
  margin-left: 14.5px;
}
.scroll_cover_link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-left: 5px;
  margin-right: 14.5px;
  text-underline-offset: 3.8px;
}
.scroll_about_link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-left: 5px;
  text-underline-offset: 3.8px;
}
.header__logo {
  display: flex;
  grid-column: 2;
  width: 135.11px;
  height: 104.65px;
  align-items: center;
  justify-self: center;
}
.header_contacts {
  display: inline-block;
  grid-column: 3;
  align-items: center;
  justify-self: start;
  margin-left: 193px;
  line-height: 25px;
}
.number {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 3.8px;
  font-size: 18px;
  color: #000000;
}
.gmail {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 3.8px;
  font-size: 18px;
  color: #000000;
}
.contact_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-top: px;
  line-height: 25px;
}
.cover {
  background-image: url(images/cover.jpg);
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 757px;
  position: relative;
}
.overlay {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
}
.main_text {
  font-family: "Raleway";
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  letter-spacing: 30px;
  position: relative;
  z-index: 2;
}
.main_text_first_word {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 2;
}
.main_text_second_word {
  position: absolute;
  top: 300px;
  left: 380.5px;
}
.main_text_third_word {
  position: absolute;
  top: 435px;
  left: 663px;
}
.cover_description-text {
  font-family: "Raleway";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 20px;
  color: #ffffff;
  position: absolute;
  top: 668px;
  left: 50px;
  z-index: 2;
}
.bet-button {
  width: 255px;
  height: 50px;
  border-width: 1px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  position: absolute;
  top: 656px;
  left: 794px;
  font-family: "Raleway";
  font-style: bold;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
.lots_section {
  padding: 180px 24px 0px 24px;
}
.lots_text {
  font-family: "Raleway";
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: 40px;
}
.lots_list {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  margin-top: 27px;
}
.lot_link {
  font-family: "Raleway";
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  text-underline-offset: 3px;
  z-index: 2;
}
.lots_description {
  position: relative;
  margin-top: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  z-index: 2;
  line-height: 24px;
}
.lot_film {
  position: relative;
  padding: 48px 40px 48px 40px;
  grid-column: 1;
  background-size: cover;
  background-position: center;
  background-image: url(images/card-lot-01.jpg);
  height: 500px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.lot_book {
  position: relative;
  padding: 48px 40px 48px 40px;
  grid-column: 2;
  background-size: cover;
  background-position: center;
  background-image: url(images/card-lot-02.jpg);
  height: 500px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.lot_picture {
  position: relative;
  padding: 48px 40px 48px 40px;
  grid-column: 3;
  background-size: cover;
  background-position: center;
  background-image: url(images/card-lot-03.jpg);
  height: 500px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.look_more {
  position: relative;
  top: 30px;
  left: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  text-underline-offset: 5px;
}
.about {
  height: 595px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 595px;
  gap: 50px;
}
.about_image {
  background-image: url("images/logo-white.svg");
  background-color: #000000;
  position: relative;
  width: 148px;
  height: 114px;
  top: 65px;
  left: 44px;
  grid-column: 1;
  z-index: 1;
}
.circle {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  top: 64px;
  left: 74px;
  grid-column: 1;
}
.about_column {
  grid-column: 2;
  width: 100%;
  min-width: 0;
}
.about_text_title {
  margin-top: 165px;
  font-family: "Raleway";
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
}
.about_text_first {
  position: relative;
  top: 100px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin-right: 29px;
  line-height: 24px;
}
.about_text_second {
  position: relative;
  top: 125px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin-right: 10px;
  line-height: 24px;
}
.footer {
  display: grid;
  margin-top: 170px;
  width: 1100px;
  height: 180px;
  line-height: 25px;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}
.footer_contacts {
  position: relative;
  left: 50px;
  grid-column: 1;
}

.footer_links_list {
  grid-column: 2;
  display: grid;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 22px;
}
.scroll_main_link_footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration-line: none;
  color: #000000;
  justify-self: center;
}
.scroll_cover_link_footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  justify-self: center;
  text-underline-offset: 3.8px;
}
.scroll_about_link_footer {
  display: flex;
  flex-direction: row;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  justify-self: center;
  text-underline-offset: 3.8px;
}
.link_images {
  display: flex;
  grid-column: 3;
  flex-direction: row;
  gap: 48px;
  align-content: center;
  margin-left: 75px;
}
.youtube_button {
  display: flex;
  flex-direction: row;
  position: relative;
  background-image: url("images/yt.svg");
  height: 48px;
  width: 48px;
}
.vk_button {
  flex-direction: row;
  display: grid;
  position: relative;
  background-image: url("images/vk.svg");
  height: 48px;
  width: 48px;
}
.pinterest_button {
  display: grid;
  position: relative;
  background-image: url("images/pinterest.svg");
  height: 48px;
  width: 48px;
}
