
.header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 98.2px;
}
.header__menu {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.scroll_main_link {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration-line: none;
  color: #000000;
  list-style: none;

}
.header_main_link{
  margin-left: 50px;
  margin-right: 13px;
}
.header_links_list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header_menu_pointer {
  position: relative;
  display: list-item;
  list-style: circle outside;
  margin-left: 14px;
}
.scroll_links {
  position: relative;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}
.header_scroll_links{
  margin-left: 5px;
  margin-right: 15px;
  text-underline-offset: 3.8px;
}
.header__logo {
  display: flex;
  grid-column: 2;
  width: 137px;
  height: 104.65px;
  align-items: center;
  justify-self: center;
}
.contacts {
  display: inline-block;
  align-items: center;
  justify-self: center;
}
.header_address {
  grid-column: 3;
  margin-left: 105px;
  line-height: 23px;
  grid-column: 3;
}
.contact_text {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  text-underline-offset: 3.8px;
  justify-self: center;

}
.main_text{
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  letter-spacing: 30px;
}
.cover {
  position: relative;
  background-image: url(images/cover.jpg);
  background-size: cover;
  background-position: center;
  width: 1100px;
  min-height: 757px;
  z-index: 0;
  
}
.overlay {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
 .cover_grid {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 2fr 1fr;
  position: relative;
  z-index: 2;
}
.main_text{
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  letter-spacing: 30px;
}
.main_text_highest_word {
position: relative;
grid-row: 1;
margin-top: 165px;
margin-left: 50px;
}
.main_text_middle_word {
  grid-row: 2;
  position: relative;
  margin-top:17px;
  margin-left: 380.5px;

}
.main_text_lowest_word {
 grid-row: 3;
 position: relative;
 margin-top: 17px;
margin-left: 663px;
}
.cover_description-text {

  position: relative;
  grid-row: 4;
  grid-column: 1;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  z-index: 3;
  word-spacing: 20px;
  margin-left: 50px;
  margin-top: 117px;
  z-index: 0;

}
.bet-button {
  grid-row:4;
  grid-column: 1/2;
  width: 255px;
  height: 50px;
  border-width: 1px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  position: relative;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-left: 794px;
  margin-top: 105px;
}
.lots_section {
  padding: 180px 24px 0px 24px;
}
.lots_text {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  margin-left: 40px;
}
.lots_list {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  margin-top: 27px;
}
.lot_link {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  text-underline-offset: 3px;
  z-index: 2;
  text-decoration: underline;
}
.lots_description {
  z-index: 2;
  position: relative;
  margin-top: auto;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  line-height: 24px;
}
.lot{
  z-index: 0;
  position: relative;
  padding: 48px 40px 48px 40px;
  grid-column: 1;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
}
.lot_film {
  background-image: url(images/card-lot-01.jpg);
}
.lot_book {
  background-image: url(images/card-lot-02.jpg);
}
.lot_picture {
  background-image: url(images/card-lot-03.jpg);
}
.look_more {
  margin-top: 4px;
  margin-left: 40px;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  text-underline-offset: 5px;
}
.about {
  margin-top: 92px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 595px;
  gap: 50px;
}
.about_image {
  background-image: url("images/logo-white.svg");
  background-color: #000000;
  position: relative;
  width: 148px;
  height: 114px;
  top: 65px;
  left: 44px;
  grid-column: 1;
  z-index: 1;
}
.circle {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  margin-top: 64px;
  margin-left: 74px;
  grid-column: 1;
}
.about_column {
  grid-column: 2;
  width: 100%;
  min-width: 0;
}
.about_text_title {
  margin-top: 165px;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
}
.before_space{
  margin-top: 100px;
}
.about_text {
  position: relative;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  line-height: 24px;
}
.central_space{
  margin-top: 24px;
}
.footer {
  display: grid;
  margin-top: 210px;
  margin-bottom: 80px;
  width: 1100px;
  line-height: 25px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
.footer_link_list{
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 21px;
  text-underline-offset: 3.8px;

}
.footer_menu{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  text-align: center;
}
.footer_address {
  grid-column: 1;
  justify-self: flex-start;
}
.link_images {
  display: flex;
  grid-column: 3;
  flex-direction: row;
  gap: 48px;
  width: 100%;
  align-content: flex-end;
  justify-content: flex-end;
}
.social_buttons{
  display: flex;
  flex-direction: row;
  position: relative;
  background-image: url("images/yt.svg");
  height: 48px;
  width: 48px;
}
.youtube_button {
  background-image: url("images/yt.svg");
}
.vk_button {
  background-image: url("images/vk.svg");
}
.pinterest_button {
   background-image: url("images/pinterest.svg");
}
